*{
    text-align: center;
    font-weight: lighter;
    font-family: 'Questrial', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{

    background:url("../fondito/fondito.jpg");
    background-size:inherit;
    background-repeat: no-repeat;


}
    
h1{
    color: #252525;
    font-size: 150%;
}

p{
    color:#252525;
    font-size: 25px;
  
}
    
.eligeNumero{
    color:#20ADF3;
    font-size: 25px;
    
}


textarea{
    
    border-radius: 20px;

}

.infogob{
  color:yellow;
  font-size: 15px;

}

input{

  background-color: #20ADF3   ;
  border: 1px;
  color: whitesmoke;
  padding: 16px 32px;
  margin: 2px 1px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 35px 35px 35px 35px;

}

button{

    background-color: #20ADF3  ;
    border: 1px;
    color: whitesmoke;
    padding: 16px 32px;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 35px 35px 35px 35px;
}
footer{
    color: #252525;
    font-size: 18px;
}
.foo-ter{
    margin: 7% 2% 2% 2%;
}

@media screen and (max-width: 500px) {
 body{
    background-size: auto;
 }  
  
} 
