*{
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
}
h1{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    
  
}
body{
    background:url("../fondito/fondito.jpg");
    background-position: center;
    
}
p{
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}
    
.eligeNumero{
    color:#20ADF3;
    font-weight: bold;
    font-size: 23px;
}


.textarea{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px 15px 15px 15px;
}

.infogob{
  color:black;
  font-weight: bold;
}

input{

  background-color: #20ADF3   ;
  border: 1px;
  color: whitesmoke;
  padding: 16px 32px;
  margin: 2px 1px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 35px 35px 35px 35px;

}

button{

    background-color: #20ADF3  ;
    border: 1px;
    color: whitesmoke;
    padding: 16px 32px;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 35px 35px 35px 35px;
}
footer{
    color: white;
}