*{
    text-align: center;
    font-weight: lighter;
    font-family: 'Questrial', sans-serif;
}
body{
    background:url("../fondito/fondito.jpg");
    background-position: center;

}
    
h1{
    font-size: 170%;
}

p{
    color:black;
    font-size: 25px;
  
    
}
    
.eligeNumero{
    color:#20ADF3;
    font-size: 25px;
    
}


.textarea{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px 15px 15px 15px;
}

.infogob{
  color:yellow;
  font-size: 15px;

}

input{

  background-color: #20ADF3   ;
  border: 1px;
  color: whitesmoke;
  padding: 16px 32px;
  margin: 2px 1px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 35px 35px 35px 35px;

}

button{

    background-color: #20ADF3  ;
    border: 1px;
    color: whitesmoke;
    padding: 16px 32px;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 35px 35px 35px 35px;
}
footer{
    color: white;
    font-size: 18px;
}